.busterBlade {
    background-color: black;
    position: relative;
    left: 78%;
    transform: rotate(135deg) translateY(-100%);
    transform-origin:top left;
    width: 90%;
    z-index: 1;
}

.busterBladeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    margin-top: 15%;
    max-height: 100%;
}

.lighting {
    background: linear-gradient(to right, rgba(48, 47, 33, .7), rgba(92, 88, 66, .7), rgba(141, 139, 111, .7) 30% 70%, rgba(92, 88, 66, .7), rgba(48, 47, 33, .07));
    filter: blur(5px);
    border-radius: 50%;
    box-shadow: 0px 0px 10px #302f21;
    height: 80px;
    margin-top: 50%;
    transform: rotate(20deg) translateY(-100%);
    transform-origin:top left;
}

.newGame {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
}

.newGameContainer {
    background-color: black;
    display: flex;
    width: 100%;
}

.newGameBtn {
    background: none;
    border: none;
    color: white;
    font-family: ff7;
    font-size: 64px;
    font-weight: bold;
    margin-left: 7%;
}

.newGameBtnContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}


.shadow {
    background-color: black;
    border-radius: 25%;
    box-shadow: 0px 0px 5px black;
    position: relative;
    bottom: 25%;
    left: 36%;
    height: 25px;
    width: 175px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .busterBlade {
        width: 100%;
    }

    .lighting {
        margin-top: 60%;
    }

    .newGameBtn {
        margin-left: 4%;
    }

    .shadow {
        left: 33%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .busterBlade {
        left: 100%;
        width: 120%;
    }

    .lighting {
        height: 160px;
        margin-top: 70%;
        width: 400px;
    }

    .newGameBtn {
        margin-left: 3%;
    }

    .shadow {
        bottom: 40%;
        left: 35%;
        height: 50px;
        width: 325px;
    }
}

@media screen and (min-width: 1025px) {
    .busterBlade {
        left: 100%;
        width: 110%;
    }
    .busterBladeContainer {
        margin-top: 5%;
    }
    
    .lighting {
        height: 160px;
        margin-top: 60%;
        width: 400px;
    }

    .newGameBtn {
        margin-left: 2%;
    }

    .shadow {
        bottom: 35%;
        left: 35%;
        height: 50px;
        width: 325px;
    }

}

@media screen and (min-width: 320px) {
    .busterBlade {
        background-color: black;
        position: relative;
        left: 78%;
        transform: rotate(135deg) translateY(-100%);
        transform-origin:top left;
        width: 90%;
        z-index: 1;
    }
}
