.icons {
    display: flex;
    justify-content: space-evenly;
    min-width: 40%;
}

.header {
    align-items: flex-end;
    background: linear-gradient(45deg, #08fca7, #250340 60%);
    display:flex;
    justify-content: space-between;
}

.header h1 {
    color: white;
    margin: 0;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.projects {
}

.project {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 481) and (min-width: 768px) {

}